.custom-datepicker {
  border-radius: 8px;
  /* padding: 16px; */
  background: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.react-datepicker__day--selected {
  background-color: #6b46c1 !important; /* Purple highlight */
  color: white !important;
  border-radius: 50%;
}

/* Cancel & Schedule buttons */
.custom-datepicker .react-datepicker__footer {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.custom-datepicker .react-datepicker__footer button {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.custom-datepicker .react-datepicker__footer button:first-child {
  background: #e0e0e0; /* Cancel */
  color: black;
}

.custom-datepicker .react-datepicker__footer button:last-child {
  background: #6b46c1; /* Schedule */
  color: white;
}

.react-time-picker:focus-within {
  border-color: #6c5ce7;
  box-shadow: 0 0 4px rgba(108, 92, 231, 0.5);
}

.react-time-picker__inputGroup__input:focus {
  border-color: #6c5ce7;
  outline: none;
}

.react-time-picker__clear-button,
.react-time-picker__clock-button {
  display: none !important;
}

.react-time-picker__inputGroup input {
  width: 100%;
  padding: 3px 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  text-align: center;
  /* background: rgb(216, 198, 198); */
}

.react-time-picker__inputGroup__input {
  /* width: 40px !important; */
  font-size: 16px;
  text-align: center;
  /* padding: 4px; */
}
